<div id="tutorial">
    <h3>Tutorial</h3>
    <ul>
        <li>Digite a anotacão no campo de input e precione a tecla Enter para adicionar a anotação</li>
        <li>Para apagar todas as anotações de um duplo clique no botão X ou digite "cls"</li>
        <li>Clicando com o botão direito do mouse é possivel:
            <ul style="margin-left: 20px;">
                <li>Copiar o conteudo da anotação</li>
                <li>Apagar uma anotacão</li>
            </ul>
        </li>
    </ul>
</div>
<div id="links">
    <a href="https://github.com/smrsassa" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>