<div id="config">
    <p>Tema: </p>
    <label class="switch">
        <input type="checkbox" id="switchTema" checked>
        <span class="slider round"></span>
    </label>
    <p>Botão para limpar todas as anotações: </p>
    <label class="switch">
        <input type="checkbox" id="switchClearAll" checked>
        <span class="slider round"></span>
    </label>
    <p>Perguntar para apagar: </p>
    <label class="switch">
        <input type="checkbox" id="switchAsk" checked>
        <span class="slider round"></span>
    </label>
    <p>Creditos: </p>
    <label class="switch">
        <input type="checkbox" id="switchCredt" checked>
        <span class="slider round"></span>
    </label>
</div>