<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Home</title>

    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../src/css/index.css">
    <link rel="stylesheet" href="../src/css/anotacoes.css">
    <link rel="stylesheet" href="../src/css/config.css">
    <link rel="stylesheet" href="../src/css/about.css">

</head>
<body>

    <header>
        <h1>Anotações</h1>
        <nav>
            <ul>
                <li><a id="btnIndex" class="">Home</a></li>
                <li><a id="btnConfig" class="">Config</a></li>
                <li><a id="btnAbout" class="">About</a></li>
            </ul>
        </nav>
    </header>

    <section id="conteudo">
    </section>

    <footer>
        <hr>Copyright &copy; Samuel Mayer
    </footer>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../src/js/anotacoes.js"></script>
    <script src="../src/js/nav.js"></script>

</body>
</html>